.activities {
  padding-top: 0;
  margin: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.activities__list {
  display: flex;
}

.activities__thumb {
  position: relative;
  z-index: 0;
}

.activities__item + .activities__item {
  margin-left: 30px;
}

.activities__text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $secondary-text-color;
}
