.hero {
  // padding-bottom: 94px;
  background-color: $accent-background-color;
  text-align: center;
  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  // max-width: 1600px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/mobile.jpg);
  @media (min-resolution: 2dppx) {
    background-image: url(../images/hero/mobile2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/tablet.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/hero/tablet2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/hero/desktop.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url(../images/hero/desktop2x.jpg);
    }
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $secondary-text-color;
}
